:root {
  --main-bg-color: rgb(235, 155, 181);
  --container-color: rgb(179, 9, 40);
  --blue: #00ADB5;
  --edit-btn-hover-color: #15c6cf;
  --delete-btn-hover-color: rgb(238, 108, 108);
  --delete-btn-color: white;
}
.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
}

.app-container {
  background-color: var(--main-bg-color);
  font-family: "Lobster";
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: var(--container-color);
  text-shadow: 1px 2px 2px white;
  
}

footer {
  color: white;
  background-color: var(--container-color);
  display: flex;
  justify-content: space-around;
  width: 100vw;
  font-size: 1.2em;
  padding: 2%;
}

form {
  display: none;
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.error-message {
  color: white;
}

input {
  background: transparent;
  border: 1px solid var(--container-color);
  border-bottom:2px solid white;
  
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  transition: border-color .5s ease;
  width: 80%;
}

input:focus {
  outline: none;
  border: 1px solid var(--container-color);
  border-bottom: 2px solid var(--blue);
}

input::placeholder {
  color: rgb(175, 173, 173);
}

.cancel-btn {
  border: 1px solid var(--delete-btn-color);
  background: transparent;
  color: var(--delete-btn-color);
  border-radius: 3px;
  transition: background-color .2s;
}

.cancel-btn:hover {
  background-color: rgb(223, 108, 108);
  color: white;
}

.done-btn {
  border: 1px solid white;
  color: white;
  background: transparent;
  transition: background-color .2s;
  border-radius: 3px;
}

.done-btn:hover {
  background-color: #11b4bd;
  color: white;
}

.form-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

select {
  border: 1px solid var(--container-color);
  border-radius: 3px;
  width: 45%;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  background: transparent;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

option {
  
  color: black;
}

select:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

.add-btn {
  background-color: var(--container-color);
  color: white;
  padding: 2%;
  font-size: 30px;
  border: 1px solid var(--container-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: background-color .2s;
}

.add-btn:hover {
  background-color: #505357;
}

ul {
  list-style: square;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-self: center;
}

li {
  margin-top: 5%;
}

.library-title {
  text-align: center;
  color: white;
}

.edit-btn {
  background: transparent;
  color: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  transition: background-color .2s;
}

.edit-btn:hover {
  background-color: var(--edit-btn-hover-color);
  color: white;
}

.delete-btn {
  border: 1px solid white;
  background: transparent;
  color: var(--delete-btn-color);
  border-radius: 5px;
  transition: background-color .2s;
}

.delete-btn:hover {
  background-color: var(--delete-btn-hover-color);
  color: white;
}

.btn {
  font-size: medium;
  margin-left: 5px;
}

.library-container {
  background-color: var(--container-color);
  border-radius: 10px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ribbon {
  height: auto;
  width: 18%;
  border-radius: 5px;
}